<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
    <div th:replace="dashboard/head :: head"></div>
</header>
<body>
<section class="d-flex justify-content-center align-items-start vh-100 py-5 px-3 px-md-0">
    <div class="d-flex flex-column w-100 align-items-center">
        <div th:if="${message!=null}">
            <div class="alert alert-danger alert-dismissible fade show"
                 role="alert">
                <a href="#" class="close" data-dismiss="alert"
                   aria-label="Close">&times;
                </a>
                <p th:text="${message}"></p>
            </div>
        </div>
        <a href="#" class="d-table mt-5 mb-4 mx-auto">
            <img th:src="@{images/vault-logo.png}" style="height: 40px"/>
        </a>
        <div class="card">
            <div class="card-header">
                Confirm OTP
            </div>
            <div class="card-body">
                <form class="mt-4" method="POST" th:action="@{/confirm}">
                    <div class="form-group">
                        <label for="otp" class="form-label form-label-light d-flex justify-content-between align-items-center">
                            Enter a 6 digit OTP you have received to your email
                        </label>
                        <input type="number" id="otp" class="form-control form-control-light"
                               th:name="otp" placeholder="Enter OTP" maxlength="6" minlength="6" required autofocus>
                        <button class="btn btn-primary d-block w-100 my-4" type="submit">Verify OTP</button>
                    </div>
                </form>
            </div>
        </div>
</div>
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script
        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script
        th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    </div>
</section>
</body>
</html>