<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{../css/dashboard.css}">
<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
<link rel="preconnect" th:href="@{https://fonts.gstatic.com}"
	crossorigin>
<link
	th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,200&family=Raleway:ital,wght@1,200&family=Roboto:wght@100&family=Scope+One&display=swap}"
	rel="stylesheet">

<script type="text/javascript" th:src="@{../js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript"
	th:src="@{../js/bootstrap-table-editable.js}"></script>
<script type="text/javascript" th:src="@{../js/main.js}"></script>

<title>Password Manager</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="dashboard/navbar :: header" /></div>
			<div th:replace="dashboard/sidebar :: aside" /></div>
			<main
				class="col-md-9 ms-sm-auto col-lg-10 px-md-4 justify-content-center form-add">
				<div class="card">
					<div class="card-header">
						<h4>Edit Password</h4>
					</div>
					<div class="card-body">
						<form action="row g-3" th:action="@{/editpassword}" method="post"
							th:object="${password}">

							<div class="col-md-6">
								<input type="hidden" class="form-control is-valid"
									id="validationServer01" th:name="id" placeholder="Resource"
									th:field=*{id}>

							</div>
							<div class="col-md-6">
								<input type="text" class="form-control is-valid"
									id="validationServer01" th:name="resource"
									placeholder="Resource" th:field=*{resource}>

							</div>
							<div class="col-md-6">
								<input type="text" class="form-control is-valid"
									id="validationServer01" th:name="url" placeholder="URL"
									th:field=*{url}>
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control is-valid"
									id="validationServer01" th:name="username"
									placeholder="Username" th:field=*{username}>
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control is-valid"
									id="validationServer01" th:name="password"
									placeholder="Password" th:field=*{password}>
							</div>
							<div class="col-md-6">
								<button class="btn btn-primary form-control" type="submit">Edit
									Password</button>
							</div>
						</form>

					</div>
				</div>
			</main>
		</div>
	</div>

</body>
</html>