<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="dashboard/head :: head" />
<body>
<section class="d-flex justify-content-center align-items-start vh-100 py-5 px-3 px-md-0">
	<div class="d-flex flex-column w-100 align-items-center">
		<div class="row">
			<div th:replace="dashboard/navbar :: header" /></div>
			<div th:replace="dashboard/sidebar :: aside" /></div>
			<main
				class="col-md-9 ms-sm-auto col-lg-10 px-md-4 justify-content-center"
				style="padding-top: 1em;">
				<h5>View Passwords</h5>
				<form id="editPassword" method="post">
					<div class="card shadow">
						<div class="card-header">
							<h4>Passwords</h4>
						</div>
						<div class="card-body">
							<table id="dataTable" class="table table-condensed table-striped">
								<thead>
									<tr>
										<th scope="col">Resource</th>
										<th scope="col">URL</th>
										<th scope="col">Username</th>
										<th scope="col">Password</th>
										<th scope="col">Created</th>
										<th scope="col"></th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>

									<tr th:each="password: ${passwords}">
										<td th:text="${password.resource}"></td>
										<td th:text="${password.url}">
										<td th:text="${password.username}"></td>
										<td th:text="${password.password}"></td>
										<td th:text="${password.created}"></td>
										<td>
											<div class="col-sm-4">
												<p class="text-left">
													<a th:href="@{/showeditpassword/{id}(id = ${password.id})}"
														class="btn btn-md btn-primary" role="button">Edit</a>
												</p>
											</div>
										</td>
										<td>
											<div class="col-sm-4">
												<p class="text-left">
													<a th:href="@{/removepassword/{id}(id = ${password.id})}"
														class="btn btn-md btn-primary" role="button">Remove</a>
												</p>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</form>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal"
					data-target="#exampleModal">Add Password</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Add Password</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">

								<form action="row g-3" th:action="@{/savePassword}"
									th:object="${password}" method="POST">

									<div class="form-group">
										<input type="text" class="form-control input-lg"
											id="validationServer01" th:name="resource"
											placeholder="Resource" th:field=*{resource}>

									</div>
									<div class="form-group">
										<input type="text" class="form-control input-lg"
											id="validationServer01" th:name="url" placeholder="URL"
											th:field=*{url}>
									</div>
									<div class="form-group">
										<input type="text" class="form-control input-lg"
											id="validationServer01" th:name="username"
											placeholder="Username" th:field=*{username}>
									</div>
									<div class="form-group">
										<input type="text" class="form-control input-lg"
											id="validationServer01" th:name="password"
											placeholder="Password" th:field=*{password}>
									</div>
									<div class="form-group">
										<button class="btn btn-primary form-control" type="submit">Add
											Password</button>
									</div>
								</form>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary form-control"
									data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

			</main>

		</div>
	</div>
	<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		th:src="@{https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js}"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js}"
		integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
		crossorigin="anonymous"></script>
</section>
</body>
</html>