<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="dashboard/head :: head" />
<body>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="dashboard/navbar :: header" /></div>
			<div th:replace="dashboard/sidebar :: aside" /></div>
			<main
				class="col-md-9 ms-sm-auto col-lg-10 px-md-4 justify-content-center"
				style="padding-top: 1em;">
				<h5>View Passwords</h5>
				<form id="editPassword" method="post">
					<table id="dataTable"
						class="table shadow table-bordered table-condensed">
						<thead>
							<tr>
								<th scope="col">Resource</th>
								<th scope="col">URL</th>
								<th scope="col">Username</th>
								<th scope="col">Password</th>
								<th scope="col">Created</th>
								<th scope="col">Edit Password</th>
								<th scope="col">Remove Password</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="password: ${passwords}">
								<td th:text="${password.resource}"></td>
								<td th:text="${password.url}">
								<td th:text="${password.username}"></td>
								<td th:text="${password.password}"></td>
								<td th:text="${password.created}"></td>
								<td>
									<div class="col-sm-4">
										<p class="text-left">
											<a th:href="@{/showeditpassword/{id}(id = ${password.id})}"
												class="btn btn-md btn-primary" role="button">Edit</a>
										</p>
									</div>
								</td>
								<td>
									<div class="col-sm-4">
										<p class="text-left">
											<a th:href="@{/removepassword/{id}(id = ${password.id})}"
												class="btn btn-md btn-primary" role="button">Remove</a>
										</p>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
				
				
				

				<div class="col-sm-6">
					<p class="text-left">
						<a class="btn btn-space btn-primary"
							role="button">AddPassword</a>
					</p>
				</div>
			</main>

		</div>
	</div>
	<script type="text/javascript" th:href="@{js/datatables.min.js}"></script>
	<script type="text/javascript" th:href="@{js/jquerydatatables.min.js}"></script>
	
</body>
</html>