<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
	<div th:replace="dashboard/head :: head"></div>
</header>
<body>
<section class="d-flex justify-content-center align-items-start vh-100 py-5 px-3 px-md-0">
	<div class="create-account mb-4">
		<div th:if="${message!=null}">
			<div class="alert alert-danger alert-dismissible fade show"
				 role="alert">
				<a href="#" class="close" data-dismiss="alert"
				   aria-label="Close">&times;
				</a>
				<p th:text="${message}"></p>
			</div>
		</div>
	<a href="#" class="d-table mt-5 mb-4 mx-auto">
		<img th:src="@{images/vault-logo.png}" style="height: 40px"/>
	</a>
	<div class="card">
		<div class="card-header">
			Set Password
		</div>
		<div class="card-body">
			<form class="mt-4" th:object="${passwordDto}"
				  th:action="@{/setpassword}" method="post">
				<div class="form-group">
					<input type="password" id="password" class="form-control form-control-light" th:field="*{password}"
						   placeholder="password" required>
				</div>
				<div class="form-group">
					<input type="password" id="confirmPassword"  class="form-control form-control-light"
						   placeholder="Confirm password" required>
				</div>
				<div class="form-group">
					<button class="btn btn-primary d-block w-100 my-4" type="submit" onclick="comparePassword()">Set Password</button>
				</div>
			</form>
		</div>
	</div>
	</div>
</section>
<script>
function comparePassword() {
  var pw1 = document.getElementById("password").val;
  var pw2 = document.getElementById("confirmPassword").val;
  if(pw1 != pw2)
  {
    document.getElementById("password").setCustomValidity("Your passwords do not match");
  } else {
    alert("Password created successfully");
  }
}
</script>
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
<script
		th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>