<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{css/dashboard.css}">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}"
		  crossorigin>
	<link
			th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,200&family=Raleway:ital,wght@1,200&family=Roboto:wght@100&family=Scope+One&display=swap}"
			rel="stylesheet">

	<script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript"
			th:src="@{js/bootstrap-table-editable.js}"></script>
	<script type="text/javascript" th:src="@{js/main.js}"></script>

	<title>Password Manager</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="dashboard/navbar :: header" /></div>
			<div th:replace="dashboard/sidebar :: aside" /></div>
			<main
				class="col-md-9 ms-sm-auto col-lg-10 px-md-4 justify-content-center">
				<div class="form-add">
					<div class="card shadow">
						<div class="card-header">
							<h4>Set Password</h4>
						</div>
						<div class="card-body">
							<form action="row g-3" th:object="${passwordDto}"
								th:action="@{/setpassword}" method="post">
								<div class="form-group">
									<input type="password" class="form-control" th:field="*{password}"
										placeholder="password" required>

								</div>
								<div class="form-group">
									<input type="password" class="form-control"
										placeholder="Confirm password" required>
								</div>

								<div class="form-group">
									<button class="btn btn-primary form-control" type="submit">Set Password</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>

</body>
</html>