<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="dashboad/head :: head"></head>
<body>
<header>
  <!-- Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light border-0 py-0 fixed-top bg-dark-800">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center flex-grow-1 navbar-actions">

        <!-- Menu Toggle-->
        <div class="menu-toggle cursor-pointer me-4 text-primary-hover transition-color disable-child-pointer">
          <i class="ri-menu-fold-line ri-lg fold align-middle" data-bs-toggle="tooltip" data-bs-placement="right"
             title="Close menu"></i>
          <i class="ri-menu-unfold-line ri-lg unfold align-middle" data-bs-toggle="tooltip" data-bs-placement="right"
             title="Open Menu"></i>
        </div>

        <div class="d-flex align-items-center">
          <div class="navbar-nav">
            <div class="nav-item text-nowrap">
              <a class="nav-link px-3" th:href="@{/logout}">Sign out</a>
            </div>
          </div>
      </div>
  </nav>    <!-- / Navbar-->
</header>
</body>
</html>