<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="dashboad/head :: head"></head>
<body>
<!-- Page Aside-->
<aside class="aside bg-dark-700">
  <div class="simplebar-wrapper">
    <div data-pixr-simplebar>
      <div class="pb-6 pb-sm-0 position-relative">

        <!-- Mobile close btn-->
        <div class="cursor-pointer close-menu me-4 text-primary-hover transition-color disable-child-pointer position-absolute end-0 top-0 mt-3 pt-1 d-xl-none">
          <i class="ri-close-circle-line ri-lg align-middle me-n2"></i>
        </div>
        <!-- / Mobile close btn-->

        <!-- Mobile Logo-->
        <div class="d-flex justify-content-center align-items-center py-3">
          <a class="m-0" href="./index.html">
            <div class="d-flex align-items-center justify-content-center">
              <span class="fw-bold fs-3 text-white">PasswordManager</span>
            </div>                    </a>
        </div>

        <ul class="list-unstyled mb-6 aside-menu">

          <!-- UI Kit Menu Section-->
          <li class="menu-section mt-5">Passwords</li>
            <a class="d-flex align-items-center menu-link" th:href="@{/viewpassword}"><i class="ri-home-4-line me-3"></i> <span>View Passwords</span></a>
          </a>
          </li>

        </ul>
      </div>
    </div>
  </div>

</aside>    <!-- / Page Aside-->
</body>
</html>