<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="dashboad/head :: head"></head>
<body>
		<aside>
		<nav id="sidebarMenu"
				class="col-md-3 col-lg-2 d-md-block shadow sidebar collapse">
				<ul class="list-unstyled ps-0">
      <li class="mb-1">
      
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Password
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded" th:href="@{/viewpassword}">View Passwords</a></li>
            <li><a href="#" class="link-dark rounded" th:href="@{/addpassword}">Add Password</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle sidebar-link align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Users
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded" th:href="@{/adduser}">Add User</a></li>
            <li><a href="#" class="link-dark rounded" th:href="@{/showuser}">Show User</a></li>
            <li><a href="#" class="link-dark rounded" th:href="@{/removeuser}">Remove User</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a th:href="@{/account}" class="link-dark rounded">Profile</a></li>
            <li><a th:href="@{/settings}" class="link-dark rounded">Settings</a></li>
            <li><a th:href="@{/logout}" class="link-dark rounded">Sign out</a></li>
          </ul>
        </div>
      </li>
    </ul>
			</nav>
			
		</aside>
</body>
</html>